{{ define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
        <link rel="shortcut icon" href="../content/favicon.ico" />
    </head>
    <body>
        <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" />
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../content/css/layout.css" />
        <script src="../content/js/layout.js"></script>
        <div class="row">
        <div class="menu col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/stations">Stations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trans">Trans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cars">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/schedules">Schedules</a>
                </li>
            </ul>
        </div>
        <div class="content col-10">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">Location:</li>
            </ul>
{{ end }}