
.p0{padding: 0px !important;}
.p5{padding: 5px !important;}
.p10{padding: 10px !important;}
.p15{padding: 15px !important;}
.pt0{padding-top: 0px !important;}
.pt5{padding-top: 5px !important;}
.pt10{padding-top: 10px !important;}
.pt15{padding-top: 15px !important;}
.pr0{padding-right: 0px !important;}
.pr5{padding-right: 5px !important;}
.pr10{padding-right: 10px !important;}
.pr15{padding-right: 15px !important;}
.pb0{padding-bottom: 0px !important;}
.pb5{padding-bottom: 5px !important;}
.pb10{padding-bottom: 10px !important;}
.pb15{padding-bottom: 15px !important;}
.pl0{padding-left: 0px !important;}
.pl5{padding-left: 5px !important;}
.pl10{padding-left: 10px !important;}
.pl15{padding-left: 15px !important;}

.m0{margin: 0px !important;}
.m5{margin: 5px !important;}
.m10{margin: 10px !important;}
.m15{margin:15px !important;}
.mt0{margin-top: 0px !important;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mr0{margin-right: 0px !important;}
.mr5{margin-right: 5px !important;}
.mr10{margin-right: 10px !important;}
.mr15{margin-right: 15px !important;}
.mb0{margin-bottom: 0px !important;}
.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.ml0{margin-left: 0px !important;}
.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px !important;}

.tal{text-align: left !important;}
.tac{text-align: center !important;}
.tar{text-align: right !important;}
.hidden{display: none;}

button i.fa, a i.fa {margin-right: 6px;}

.pad15{
    padding: 15px 15px 0 15px !important;
    margin-right: 0 !important;
}

div.header {
    height: 50px;
}

div.menu {
    min-height: 600px;
    height: auto;
    border-right: 1px solid #ccc;
}

div.footer {
    height: 10px;
}

label{
    margin-bottom: 0 !important;
}