#timetable-tab a.active{
    background-color: #007bff;
    color: white;
}

#timetable-tab a i.fa-remove {
    display: none;
}

#timetable-tab a:hover{
    background-color: #aedde3;
    padding-right: 20px;
}

#timetable-tab a:hover i.fa-remove {
    position: absolute;
    margin-top: -10px;
    margin-left: 6px;
    color: blueviolet;
    display: inline-flex;
}

#cars-content:after{
    content:'';
    display: block;
    clear: both;
}

.car-item{
    width:48%;
    margin: 5px 1%;
    float: left;
}

.car-item input{
    width: 16%;
}
.car-item i{
    margin:6px 0 0 6px;
}